<head>
  <link rel="stylesheet" type="text/css" href="css/navbar.css">
  <link rel="stylesheet" type="text/css" href="css/temp.css">
  <script src="js/script_head.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">

</head>
<body>
<div class="topnav">
  <p>
    <ul>
        <li><a class="{% if active_page == 'home' %}active{% endif %}" href="/home">Home</a></li>
        <li><a class="{% if active_page == 'about' %}active{% endif %}" href="/about">About</a></li>
        {% if username == "admin" %}
        <li><a class="{% if active_page == 'account' %}active{% endif %}" href="/account">Account</a></li>
        <li><a class="{% if active_page == 'users' %}active{% endif %}" href="/admin-users">Users</a></li>
        {% else %}
            {% if username %}
            <li><a class="{% if active_page == 'account' %}active{% endif %}" href="/account">Account</a></li>

            <li><a class="{% if active_page == 'socials' %}active{% endif %}" href="/friends">Socials</a></li>

            {% else %}
            
            <li class="right-align"><a class="{% if active_page == 'login' %}active{% endif %}" href="/login">Login</a></li>
            <li class="right-align"><a class="{% if active_page == 'register' %}active{% endif %}" href="/register">Register</a></li>
            {% endif %}
        {% endif %}
        
        {% if username %}
        
            <li class="dropdown">
                <a href="javascript:void(0);" class="dropbtn">Resources</a>
                <div class="dropdown-content">
                    <a class="{% if active_page == 'knowledge' %}active{% endif %}" href="/knowledge-repository">Knowledge Repository</a>
                    <a class="{% if active_page == 'tutorial' %}active{% endif %}" href="/tutorial-notes">Tutorial Notes</a>
                    <a class="{% if active_page == 'courseguide' %}active{% endif %}" href="/course-guide">Course Guide</a>
                </div>
            </li>

            <li class="right-align"><a class="{% if active_page == 'logout' %}active{% endif %}" href="/logout">Log Out</a></li>
            {% endif %}

        <li class="dropdown right-align">
            <a href="javascript:void(0);" class="dropbtn">Help</a>
            <div class="dropdown-content">
                <a class="{% if active_page == 'knowledge' %}active{% endif %}" href="/faq">FAQ</a>
                <a class="{% if active_page == 'tutorial' %}active{% endif %}" href="/contact">Contact Us</a>
            </div>
        </li>
    
        
    </ul>

  </p>
</div>

  <style> 

.topnav a.active {
  background-color: #04AA6D;
  color: white;
}

.navigation {
  display: flex;
  justify-content: flex-start;
}

.right-align {
  float: right;
}


  </style>


  <!-- <center><h2>Simple Student Templating Solutions</h2> -->

  <!-- <h3><i>Because the usability is more important than the back end for now.</i></h3> -->
  
</body> 

